.header {
  color: rgba(6, 6, 83, 0.67);
  text-align: center;
}
.data {
  display: flex;
  font-size: 18px;
}
.img {
  width: 300px;
}
.text {
  font-size: 20px;
}
.btn {
  height: 30px;
  font-size: 18px;
  margin: 10px;
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
