<h1 class="header">
  Персонаж Бет Смит из мультисериала<br />
  "Рик и Морти"
</h1>
<div class="data">
  <img
    *ngIf="state"
    class="img"
    src="https://i.pinimg.com/736x/10/5e/93/105e932d48a7ba4fb7e1ba7993055c6b.jpg"
    alt=""
  />
  <img
    *ngIf="!state"
    class="img"
    src="https://rickandmortyapi.com/api/character/avatar/667.jpeg"
    alt=""
  />
  <div>
    <p><strong>Имя:</strong> {{ name | uppercase }}</p>
    <p><strong>Вид:</strong> {{ species }}</p>
    <p><strong>Пол:</strong> {{ gender }}</p>
    <p><strong>Род занятий:</strong> {{ occupation }}</p>
    <p><strong>Дети:</strong> {{ children }}</p>
    <button class="btn" (click)="toggleState()">Другая Бет</button>
  </div>
</div>
<p class="text" *ngIf="state">
  Бет - умная, амбициозная и независимая женщина, которая страдает от множества
  глубоко укоренившихся комплексов. Преданный своему делу ветеринарный
  врач-лошадник, она является главным кормильцем семьи и часто старается сделать
  для своей семьи все самое лучшее, исходя из этого чувства ответственности. Она
  крайне неуверенна в своей профессии хирурга-лошадника и быстро огрызается,
  когда подразумевается, что она не "настоящий" хирург или "настоящий"
  ветеринар.
</p>
<p class="text" *ngIf="!state">
  Космическая Бет - амбициозная, поскольку она отправляется в приключения в
  открытом космосе, во многом как сам Рик. Она решила стать героем, сражаясь с
  тиранической Галактической Федерацией, но ценой того, что стала разыскиваемой
  преступницей в глазах закона.
</p>
<span>{{ today | date: 'dd.MM.yyyy' }}</span>
